body{
  background-color: black;
}

div{
  background-color: #89F5FA;
  border-style: groove;
  border-radius: 25px;
  border-width: 5px;
  border-color: white;
  width: 49%;
  height: 33%;
}
.one{
  float: left;
}
.two{
  float: right;
}
.three{
  float:left;
}
.pie{
  width: 23%;
  height: 24%;
  float: left;
}
.pied{
  width: 49%;
  height: 30%;
  color: white;
  float: right;
}
